#login_form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login_form input{
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
} 
#login_form input:not([type="submit"]){
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out; 
}
#login_form input:focus{
    border-color: var(--yellow);
}

#login_form input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}

#login_form  a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 13px;
}